.navar-superior{
    background-color: #6f2dbd;
    color: black;
    box-shadow: 0px 3px 5px gray;
    border-bottom: none;
}

.opciones1{
    color:white;
}

.navar-superior li a{
    color: white;
    cursor: pointer;
}

.contenedor-botones{
    background-color: white;
    
}

.logo{
    display: block;
    width: 70%;
    margin: auto;
    filter: drop-shadow(2px 2px 5px #570bad9e);
}

.contenedorLogo{
    box-shadow: 2px 0px 8px #dee2e6;
    padding-top: 14px;
    padding-bottom: 17px;
    background-color: white;
}

.boton{
    background-color: #0077b6;

}

.boton i,p{
    color: white;
    font-weight: bold;
}
.content-wrapper{
    background-image: url("../../img/FondoDasshboard.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.saludo_usuario{
    color: black;
    margin-top: 0px;
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}
.bienvenido{
    font-size: 20px;
}

.fondo_tarjeta{
    background-color: #6f2dbd;
}

.color_texto_tarejta{
    color: white;
}